swagger: '2.0'

info:
  version: "1.0.0"
  title: Berry Street - Family Finder

host: rhok.berrystreet.org.au
basePath: /

paths:
  /persons:
    post:
      description: |
        Creates a new `Person`
      consumes:
        - application/vnd.api+json
      produces:
        - application/vnd.api+json
      parameters:
        - name: body
          in: body
          description: |
            `Person` object to create
          required: true
          schema:
            $ref: '#/definitions/Person'
      responses:
        "405":
          description: Invalid input

    put:
      description: |
        Updates an existing `Person`
      consumes:
        - application/vnd.api+json
      produces:
        - application/vnd.api+json
      parameters:
        - name: body
          in: body
          description: |
            `Person` object to update
          required: true
          schema:
            $ref: '#/definitions/Person'
      responses:
        "405":
          description: Invalid input
        "404":
          description: |
            `Person` not found

  /persons/${id}:
    get:
      description: |
        Gets `Person` identified with `id`
      produces:
        - application/vnd.api+json
      parameters:
        - name: id
          in: path
          description: ID of person to fetch
          required: true
          type: integer
          format: int64
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Persons'

  /persons/search:
    get:
      description: |
        search for `Person`s that match the criteria provided in the parameters
      produces:
        - application/vnd.api+json
      parameters:
        -
          name: firstName
          in: query
          description: first name
          required: false
          type: string
        -
          name: lastName
          in: query
          description: last name
          required: false
          type: string
        -
          name: dateOfBirth
          in: query
          description: fragment of the name
          required: false
          type: string
          format: date
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Persons'

definitions:
  Persons:
    type: object
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/Person'
      links:
        $ref: '#/definitions/Links'
  Person:
    type: object
    properties:
      id:
        type: number
        format: long
      firstName:
        type: string
      lastName:
        type: string
      dateOfBirth:
        type: string
        format: date
  Links:
    type: object
    properties:
      self:
        type: string
